<ion-content>
  <ion-list>
    <div class="item-animate"
         ng-repeat="t in Temp"
         ng-show="currentIndex == $index"
         ng-class="{first: $index == 0 && Temp.length == 1}"
         ng-init="teste(this)"
         style="" >
      <div class="bar bar-header bar-light" ng-click="openModal()">
        <h1 class="title">{{Temp[$index].cidade}}</h1>
      </div>
      <div class="item item-divider">
        {{Temp[$index].agora.data_hora | date:"EEEE',' dd 'de' MMMM"}}
      </div>
      <div class="item item-text-wrap">
        <a class="item item-thumbnail-left" href="#">
          <img ng-src="http://developers.agenciaideias.com.br/images/tempo/30.png">

          <h1>{{Temp[$index].agora.temperatura}}º</h1>
        </a>
      </div>
      <div class="item item-divider">
        {{Temp[$index].agora.descricao}}
      </div>

      <ion-scroll direction="x" class="wide-as-needed">
        <div style="float: left" ng-repeat="prev in Temp[$index].previsoes">
          <p>{{prev.data | date:"EEE dd"}}</p>
          <img ng-src="{{prev.imagem}}"/>

          <p>
            <span>{{prev.temperatura_max}}</span>
            <span>{{prev.temperatura_min}}</span>
          </p>

          <p>{{prev.descricao}}</p>
        </div>
      </ion-scroll>

    </div>
  </ion-list>
</ion-content>
