<ion-content>

  <div class="error-conexao" ng-show="errorConexao">
    <ion-item>Erro de conexao</ion-item>
  </div>
  <ion-list ng-show="!errorConexao">
    <div class="item-animate"
         ng-repeat="w in weather"
         ng-show="currentIndex == $index"
         ng-class="{first: $index == 0 && weather.length == 1}">

      <div class="bar bar-header bar-light" ng-click="openModal()">
        <h1 class="title">{{weather[$index].cidade}}<i class="material-icons">&#xE8D4;</i></h1>
      </div>
      <div class="dia_atual">
        <div class="item item">
          <h2 class="dia-atual_data">{{weather[$index].agora.data_hora | date:"EEEE',' dd 'de' MMMM"}}</h2>
        </div>
        <div class="item">
          <a class="item" href="#">
            <!--<img ng-src="http://developers.agenciaideias.com.br/images/tempo/30.png">-->
            <h1 class="temp-graus">{{weather[$index].agora.temperatura}}<span class="temp-graus-indicacao">º</span></h1>
          </a>
        </div>
        <div class="item">
          <p class="dia-atual_descricao">{{weather[$index].agora.descricao}}</p>
        </div>
      </div>
      <ion-scroll direction="x" class="previsoes wide-as-needed"
                  ng-init="setWidth(this, weather[$index].previsoes.length)">
        <!--  ng-style="{'width': (weather[$index].previsoes.length * 132) + 'px'}" -->
        <div class="previsao" ng-repeat="prev in weather[$index].previsoes">
          <p>{{prev.data | date:"EEE d"}}</p>
          <img ng-src="{{prev.imagem}}"/>

          <p>
            <span>{{prev.temperatura_max}}</span>
            <span>{{prev.temperatura_min}}</span>
          </p>

          <p>{{prev.descricao}}</p>
        </div>
      </ion-scroll>

    </div>
  </ion-list>
</ion-content>
