<div class="card">
  <div class="item item-divider">
    {{::Temp.agora.data_hora | date:"EEEE',' dd 'de' MMMM"}}
  </div>
  <div class="item item-text-wrap">
    <a class="item item-thumbnail-left" href="#">
      <img ng-src="http://developers.agenciaideias.com.br/images/tempo/30.png">

      <h1>{{::Temp.agora.temperatura}}º</h1>
    </a>
  </div>
  <div class="item item-divider">
    {{::Temp.agora.descricao}}
  </div>
</div>
<ion-scroll direction="x" class="wide-as-needed">
  <div style="float: left" ng-repeat="prev in ::Temp.previsoes track by $index">
    <p>{{::prev.data | date:"EEE dd"}}</p>
    <img ng-src="{{::prev.imagem}}"/>

    <p>
      <span>{{::prev.temperatura_max}}</span>
      <span>{{::prev.temperatura_min}}</span>
    </p>

    <p>{{::prev.descricao}}</p>
  </div>
</ion-scroll>
